<nav class="navbar navbar-expand-md navbar-light bg-light" style="background-color: #71da71;">
  <div class="container-fluid">
    <%= link_to (image_tag 'tar_calc_icon.png', size: '64', alt: '[EqS]'), root_path %>
<!--    <div class="navber-brand">Equation Solver</div>-->
  </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to 'Exit', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %></li>
          <li><%= link_to 'Log in', new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
</nav>