<div >
  <div class="col">
    <div class="alert alert-info">
      <%# byebug %>
      <% @result.each_value do |value| %>
        <li>
          <%= value %>
        </li>
      <% end %>
    </div>
  </div>
</div>
